@model SetGenerator.WebUI.ViewModels.BandEditViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="label label-default">Name</div>
            <input type="text" id="txtName" class="form-control" value="@Model.Name" maxlength="100" list="dlVenues" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @if (@Model.Members.Any())
            {
                <div class="label label-default">Default Singer</div>
                @Html.DropDownList("ddlMemberInstruments", @Model.Members, new { @class = "form-control" })
            }
        </div>
    </div>
    <div class="validation-container" id="validation-container"></div>
</div>