@model SetGenerator.WebUI.ViewModels.GenreEditViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="label label-default">Name</div>
            <input type="text" id="txtName" class="form-control" value="@Model.Name" maxlength="50" />
        </div>
    </div>
    <div class="validation-container" id="validation-container"></div>
</div>