
@model SetGenerator.WebUI.ViewModels.GigEditViewModel

<div id="gig-edit-modal">
    <div class="panel">
        <div class="row">
            <div class="col-sm-12">
                <div class="label label-default">Venue</div>
                <input type="text" id="txtVenue" class="form-control" value="@Model.Venue" maxlength="100"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="label label-default">Description</div>
                <input type="text" id="txtDescription" class="form-control" value="@Model.Description" maxlength="100"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="label label-default">Date</div>
                <input type="date" id="dtDateGig" class="form-control input-date" value="@Model.DateGig" maxlength="10" />
            </div>
        </div>
    </div>
    <div class="validation-container" id="validation-container"></div>
</div>