/* Body texture */
body {
  margin: 0;
  /*background: url('Images/background.png') repeat center;*/
}
/* Home main image */
#registerLink {
  padding-right: 5px;
}
#wrapper {
  position: relative;
  margin: 0 0 0 150px;
  max-width: 1200px;
}
#home-content {
  background: url('images/home.jpg');
  margin: auto;
  min-height: 650px;
}
#home-content h2 {
  padding: 10px;
  color: #d1d0d0;
}
.glyphicon {
  color: #222222;
}
.glyphicon-new-window {
  color: #47a447;
}
.glyphicon-pencil {
  color: #457bc5;
}
.glyphicon-remove {
  color: #b94a48;
}
.glyphicon-trash {
  color: #ed9c28;
}
#ddlUserBand {
  border-radius: 6px;
}
/* Search Menu Items */
#txtSearchKey {
  width: 55px;
}
.text-search {
  width: 300px;
}
.container-fluid {
  margin-right: 30px;
}
.row {
  margin-bottom: 5px;
}
.panel-heading,
.panel-body {
  padding: 5px 10px 5px 10px;
}
table .col-glyphicon {
  width: 10px;
}
table .col-link {
  width: 90px;
}
table th {
  background-color: #8b8a8a;
  color: #2c71d0;
}
table th a,
table th a:link,
table th span {
  color: #e9e4e4;
}
table th a:link {
  text-decoration: none;
}
table th a:hover {
  color: #ffffff;
}
table td {
  cursor: default;
}
.navbar-text > a {
  color: #e9e4e4;
  text-decoration: none;
}
.navbar-text > a:hover {
  color: #f3f1f1;
}
#logoutForm.navbar-right strong > a {
  color: #e9e4e4;
  text-decoration: none;
}
#logoutForm.navbar-right strong > a:hover {
  color: #f3f1f1;
}
#logoutForm.navbar-right strong span > a {
  color: #e9e4e4;
  text-decoration: none;
}
#logoutForm.navbar-right strong span > a:hover {
  color: #f3f1f1;
}
.navbar {
  height: 65px;
  margin-bottom: 0;
  background-color: #457bc5;
}
.navbar .navbar-brand > li {
  display: inline-block;
  padding: 0 0 0 10px;
  margin-top: 5px;
}
.navbar .navbar-brand > li > a {
  color: #e9e4e4;
  text-decoration: none;
  font-size: 1.2em;
}
.navbar .navbar-brand > li > a:hover {
  color: #f3f1f1;
}
.nav-pills {
  margin: 8px 0 5px 0;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 1.6em;
  padding: 1px;
}
h4 {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
/* Page */
#page {
  width: 980px;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
}
#page-bgbtm {
  padding: 30px 10px 0px 40px;
}
/* Content */
#content {
  width: 980px;
  padding: 30px 0 0 0;
}
/* Footer */
#footer {
  position: relative;
  height: 25px;
  padding: 0;
  color: #e9e4e4;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  background: #457bc5;
  clear: both;
}
#footer p {
  padding-top: 5px;
  line-height: normal;
  font-size: 9px;
  text-align: center;
}
#footer a {
  color: #3185EB;
}
.modal-dialog {
  padding: 0;
}
.modal-body {
  padding-bottom: 0;
}
.modal-header {
  color: #e9e4e4;
  background-color: #457bc5;
}
/* Validation */
.validation-container {
  position: relative;
  color: #b94a48;
  padding: 0;
  margin-left: 10px;
  border-style: none;
  clear: both;
}
.validation-container li {
  display: list-item;
  text-decoration: none;
  font-size: 1em;
  padding: 0;
}
/*# sourceMappingURL=Site.css.map */