/* Body texture */
body {
  margin: 0;
  /*background: url('Images/background.png') repeat center;*/
}
/* Home main image */
#registerLink {
  padding-right: 5px;
}
#wrapper {
  position: relative;
  margin: 0 0 0 150px;
  max-width: 1200px;
}
#home-content {
  background: url('images/home.jpg');
  margin: auto;
  min-height: 650px;
}
#home-content h2 {
  padding: 10px;
  color: #e5e0e0;
}
ul.dropdown-menu {
  min-width: 130px;
}
ul.dropdown-menu li {
  padding-left: 15px;
}
ul.dropdown-menu li label {
  font-weight: 400;
}
.glyphicon {
  color: #555555;
}
.glyphicon-share,
.glyphicon-share-alt {
  color: #47a447;
}
.glyphicon-pencil {
  color: #457bc5;
}
.glyphicon-remove-sign,
.glyphicon-remove {
  color: #b94a48;
}
.glyphicon-transfer {
  color: #47a447;
}
.glyphicon-trash {
  color: #ed9c28;
}
.band-dropdown {
  margin-right: 10px;
}
.band-dropdown #ddlUserBand {
  border-radius: 4px;
  font-weight: 600;
  height: 28px;
  color: #555;
  border: 1px solid #ccc;
  padding-right: 4px;
}
.band-dropdown #ddlUserBand option {
  font-weight: 400;
}
.center-align {
  text-align: center;
}
/* Login Form */
.username {
  width: 300px;
}
/* Search Menu Items */
.form-control {
  padding: 5px;
}
.filter-bold option {
  font-weight: normal;
}
.form-control.filter option:first-child {
  color: #8b8a8a;
}
.form-control.filter option:not(:nth-child(1)) {
  color: #555555;
}
.date-search {
  width: 80px;
}
.text-search {
  width: 150px;
}
.input-date {
  width: 90px;
}
.container-fluid {
  margin-right: 30px;
}
.row {
  margin-bottom: 5px;
}
.login-form {
  margin: 20px;
}
table .col-glyphicon {
  width: 10px;
}
table .col-date-gig {
  width: 100px;
}
table .col-link-setlist {
  width: 60px;
}
table .col-link-sets {
  width: 80px;
}
table .col-audit {
  width: 120px;
}
table th a:link {
  text-decoration: none;
}
table td {
  cursor: default;
}
.datepicker > table > thead {
  color: #555555;
  background-color: #ffffff;
}
.panel {
  margin: 0;
}
.panel .panel-body {
  padding: 0;
}
.panel .panel-body > .nav-pills {
  padding: 8px 10px 8px 10px;
}
.navbar {
  border-radius: 0;
  height: 65px;
  margin-bottom: 0;
  background-color: #457bc5;
}
.navbar .navbar-brand > li {
  display: inline-block;
  padding: 0 0 0 10px;
  margin-top: 5px;
}
.navbar .navbar-brand > li > a {
  color: #e9e4e4;
  text-decoration: none;
  font-size: 1.2em;
}
.navbar .navbar-brand > li > a:hover {
  color: #f3f1f1;
}
.navbar-text > a {
  color: #e9e4e4;
  text-decoration: none;
}
.navbar-text > a:hover {
  color: #f3f1f1;
}
#logoutForm.navbar-right strong > a {
  color: #e9e4e4;
  text-decoration: none;
}
#logoutForm.navbar-right strong > a:hover {
  color: #f3f1f1;
}
#logoutForm.navbar-right strong span > a {
  color: #e9e4e4;
  text-decoration: none;
}
#logoutForm.navbar-right strong span > a:hover {
  color: #f3f1f1;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 1.6em;
  padding: 1px;
}
h4 {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
/* Page */
#page {
  width: 980px;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
}
#page-bgbtm {
  padding: 30px 10px 0px 40px;
}
/* Content */
#content {
  width: 980px;
  padding: 30px 0 0 0;
}
/* Footer */
#footer {
  position: relative;
  height: 25px;
  padding: 0;
  color: #e9e4e4;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  background: #457bc5;
  clear: both;
}
#footer p {
  padding-top: 5px;
  line-height: normal;
  font-size: 9px;
  text-align: center;
  width: 100%;
}
#footer a {
  color: #3185EB;
}
.modal-dialog {
  padding: 0;
}
.modal-dialog p {
  padding: 0;
  width: 100%;
}
.modal-body {
  padding-bottom: 0;
}
.modal-header {
  color: #e9e4e4;
  background-color: #457bc5;
}
/* Validation */
.validation-container {
  position: relative;
  color: #b94a48;
  padding: 0;
  margin-left: 10px;
  border-style: none;
  clear: both;
}
.validation-container li {
  display: list-item;
  text-decoration: none;
  font-size: 1em;
  padding: 0;
}
/*# sourceMappingURL=Site.css.map */