/* Body texture */
@colourBlack: #555;
@colourBlackDisabled: #8a8a8a;
@colourIvoryHover:  #fff;
@colourIvory: #dcd8d8;
@colourWhite: #fff;
@colourGreen: #3e963e;
@colourYellow: #ad8f00;
@colourBlue: #375a8d;
@colourPrimary: #457bc5;
@colourDanger: #b94a48;
@colourWarning: #ED9C28;
@colourSuccess: #47A447;
@colourBanner: #e5e0e0;
@colourGrey: #8b8a8a;
@colourDragClass: #b5e2b5;
@tableHeaderBackground:  #efefef;
@tableHeaderColor:  #575454;

.pagination {
    margin: 10px 5px 0 5px;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin: -5px 0 0 -1px;
  line-height: 1.42857143;
  color: Lighten(@colourBlue, 25);
  text-decoration: none;
  background-color: @colourWhite;
  border: 1px solid Lighten(@colourGrey, 20);
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: @colourWhite;
  background-color: Lighten(@colourGrey, 20);
  border-color: Lighten(@colourBlue, 35);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: @colourWhite;
  cursor: default;
  border: 1px solid Lighten(@colourBlue, 25);
}

.pagination > .active.sets > a {
    background-image: radial-gradient(circle, @colourGreen, Lighten(@colourGreen, 10));
}

.pagination > .active.spares > a {
    background-image: radial-gradient(circle, @colourWarning, Lighten(@colourWarning, 10));
}

body {
    margin: 0;
}

/* Home main image */
#registerLink {
    padding-right: 5px;
}

#wrapper {
    position: relative;
    margin: 0 0 0 150px;
    max-width: 1200px;
}

.navbar {
    border-radius: 0;
    height: 65px;
    margin-bottom: 0;
    background-color: @colourBlue;
    .navbar-brand {
        > li {
            display: inline-block;
            padding: 0 0 0 10px;
            margin-top: 5px;
            > a {
                color: @colourIvory;
                text-decoration: none;
                font-size: 1.2em;
                &:hover {
                    color: @colourIvoryHover;
                }
            }
        }
    }
}

.navbar-text {
    > a {
        color: @colourIvory;
        text-decoration: none;

        &:hover {
            color: @colourIvoryHover;
        }
    }
}

#home-content {
    background: url('images/home.jpg');
    margin: auto;
    min-height: 650px;

    h2 {
        padding: 10px;
        color: @colourBanner;
    }
}

ul.dropdown-menu {
    min-width: 140px;
    li {
        padding-left: 15px;
        padding-right: 5px;
        label {
            font-weight: 400;
            margin-right: 5px;
        }
    }
}

.glyphicon-ok {
    color: @colourBlack;
}

.glyphicon-share, .glyphicon-share-alt {
    color: @colourSuccess;
}

.glyphicon-pencil {
    color: @colourPrimary;
}

.glyphicon-remove-sign, .glyphicon-remove {
    color: @colourDanger;
}

.glyphicon-transfer {
    color: @colourSuccess;
}

.glyphicon-trash {
    color: @colourWarning;
}

.record-total {
    padding: 0 5px 0 5px;
}

.pad-right {
    padding: 0 5px 0 0;
}

.set-songs-record-count {
    float: left;
    padding: 12px 0 0 5px;
}

.set-songs-search {
    float: left;
    padding: 5px 0 0 10px;
}

.set-songs-col-picker {
    float: right;
    margin: 0;
    padding: 5px 5px 0 0;
}

.band-dropdown
{
    margin-right: 10px;
    #ddlUserBand {
        border-radius: 4px;
        font-weight: 600;
        height: 28px;
        color: #555;
        border: 1px solid #ccc;
        padding-right: 4px;
        option 
            {
            font-weight: 400;
        }
    }
}

.center-align {
    text-align:center;
}

/* Login Form */
.username {
    width: 300px;
}

/* Search Menu Items */
.form-control {
    padding: 5px;
}

.filter-bold {
    option {
        font-weight: normal;
    }
}

.form-control.filter {
    option:first-child {
        color: @colourGrey;
    }
    option:not(:nth-child(1)) {
        color: @colourBlack;
    }
}

#txtSearchKey {
    width: 55px;
}

#txtSearchTitle {
    width: 200px;
}

.date-search {
    width: 80px;
}

.text-search {
    width: 200px;
}

.input-date {
    width: 90px;
}

.container-fluid {
    margin-right: 30px;
}

.row {
    margin-bottom: 10px;
    label {
        padding: 0;
        margin: 0;
    }
}

.login-form {
    margin: 20px;
}


table {
    margin-top: 3px;
    thead > tr > th {
        background-color: @tableHeaderBackground; 
        color: @tableHeaderColor;
    }
    .col-glyphicon {
        width: 10px;
    }
    .col-date-gig {
        width: 100px;
    }
    .col-link-setlist {
        width: 60px;
    }
    .col-link-sets {
        width: 55px;
    }
    .col-audit {
        width: 120px;
    }
    th {
        a, a:link, span {
        }

        a:link {
            text-decoration: none;
        }
    }
    td {
        cursor: default;
    }
}

.datepicker > table > thead {
    color: @colourBlack;
    background-color: @colourWhite;
}

.panel {
    margin: 0;
    .panel-heading {
        background-color: #fff
    }
    .panel-body {
        padding: 0;
        > .nav-pills {
            padding: 8px 10px 8px 10px;
        }
    }
} 

#logoutForm.navbar-right {
    strong {
        > a {
            color: @colourIvory;
            text-decoration: none;

            &:hover {
                color: @colourIvoryHover;
            }
        }
        span {
            > a {
                color: @colourIvory;
                text-decoration: none;

                &:hover {
                    color: @colourIvoryHover;
                }
            }
        }
    }
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
    padding: 1px;
}

h4 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

/* Page */

#page {
    width: 980px;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
}

#page-bgtop {
}

#page-bgbtm {
    padding: 30px 10px 0px 40px;
}

/* Content */

#content {
    width: 980px;
    padding: 30px 0 0 0;
}

/* Footer */
#footer {
    position: relative;
    height: 25px;
    padding: 0;
    color: @colourIvory;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: @colourBlue;
    clear: both;
}

#footer p {
    padding-top: 5px;
    line-height: normal;
    font-size: 9px;
    text-align: center;
    width: 100%;
}

#footer a {
    color: #3185EB;
}

.modal-dialog {
    .modal-title {
        .glyphicon {
            color: @colourWhite;
        }
    }
    .modal-header {
        padding: 15px 0 10px 15px;
        background-color: @colourBlue;
        color: @colourIvory;
    }
    .modal-body {
        p {
            width: 100%;
            margin: 0;
            padding-top: 0;
        }
        padding-bottom: 0;
        .container {
            width: auto;
            padding: 0 10px 0 10px;
        }
        .panel {
            margin-bottom: 10px;
            .row {
                padding: 0;
                margin: 0;
            }
            .panel-heading {
                margin: 10px 0 5px 0;
                padding: 2px 0 0 20px;
                color: @colourIvory;
                background-color: @colourBlue;
            }
        }
    }
}
input[type=checkbox] {
    margin: -4px 5px 0 0;
    padding: 0;
    height: 34px;
}

.inline-checkbox-label {
    color: @colourBlack;
    font-size: 12px;
}

/* Validation */

.validation-container {
    ul {
        padding: 0;
        margin-left: 12px;
        li {
            color: @colourDanger;
        }
    }
}