@model SetGenerator.WebUI.ViewModels.BandViewModel

@if (!Request.IsAuthenticated)
{
    Url.Action("Index", "Home");
}

<h2 class="header-main">Band Manager is still under contruction, dude...</h2>

