@using SetGenerator.WebUI.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="panel-body panel-login">
        <section id="loginForm" class="login-form">
            <div class="row">
                <div class="col-md-12">
                    @(ViewBag.HasLocalPassword
                          ? Html.Partial("_ChangePasswordPartial")
                          : Html.Partial("_SetPasswordPartial"))
                </div>
            </div>
        </section>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}