@model SetGenerator.WebUI.ViewModels.MoveSongViewModel

<div id="setlist-edit-modal">
    <div class="panel">
        <div class="label label-default">Move To</div>
        @(@Model.LocationList.Any()
        ? Html.DropDownList("ddlLocation", @Model.LocationList, new {@class = "form-control"})
        : Html.DropDownList("ddlLocation", @Model.LocationList, new { @class = "form-control", @disabled = "disabled" }))
    </div>
</div>