@model SetGenerator.WebUI.ViewModels.SetViewModel

@if (!Request.IsAuthenticated)
{
    Url.Action("Index", "Home");
}

@{
    ViewBag.Title = "Manage Sets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        setlists.sets.init({ setlistId: parseInt(@Model.SetlistId) });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li>
                <h3>Manage Sets for: <b><i>@Model.Name</i></b></h3>
                <a style="padding: 5px 0 0 0" href="#" onclick="location.href = '@Url.Action("Index", "Setlists", new {@id = @Model.SetlistId})'">Back To List</a>
            </li>
            <li class="navbar-right">
                <div class="pad-right">
                    <button class="btn btn-info" data-bind="click: showPrintDialog">Download PDF</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="pull-left">
            <ul class="pagination">
                <!-- ko foreach: setNumberList -->
                <li data-bind="css: setnumber === $parent.selectedSetNumber() ? 'active sets' : null">
                    <a href="#" data-bind="attr: { id: 'set_' + setnumber }, text: 'Set ' + setnumber, click: $parent.showSet"></a>
                </li>
                <!-- /ko -->
                <li data-bind="css: selectedSetNumber() === 0 ? 'active spares' : null">
                    <a href="#" data-bind="text: 'Spares', click: showSet"></a>
                </li>
            </ul>
        </div>
        <div class="set-songs-record-count">
            <span data-bind="text: 'Total:' + totalSongs()"></span>
        </div>
        <!-- ko if: selectedSetNumber() === 0 -->
        <div class="set-songs-search">
            <input class="form-control" type="text" placeholder="Title" data-bind="value: titleSearch, valueUpdate: 'keyup', style: { width: '150px' }" "/>
        </div>
        <!-- /ko -->
        <div class="set-songs-col-picker">
            <div id="ddlColumns" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="btnShowHideColumns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Show Columns
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnShowHideColumns" data-bind="foreach: columns">
                    <li data-bind="if: !alwaysVisible">
                        <div>
                            <input type="checkbox" data-bind="checked: isVisible, attr: { id: 'chk_' + dataMember }, css: 'checkbox-inline'" /> <label for="" data-bind="text: title"></label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <table class="table table-bordered" id="tblSetSong">
            <thead>
            <tr>
                <!-- ko if: setNumberList().length > 0 -->
                <th class="col-glyphicon"></th>
                <!-- /ko -->
                <!-- ko foreach: columns -->
                <!-- ko if: !isMemberColumn -->
                <th data-bind="style: { cursor: 'default' }, visible: isVisible, click: $parent.sort, attr: { id: 'song-col-' + dataMember }">
                    <!-- ko if: $parent.selectedSetNumber() > 0 -->
                    <span data-bind="text: title"></span>
                    <!-- /ko -->
                    <!-- ko if: $parent.selectedSetNumber() === 0 -->
                    <a href="#" data-bind="text: title"></a>
                    <!-- /ko -->
                </th>
                <!-- /ko -->
                <!-- ko if: isMemberColumn > 0 -->
                <th class="column-member" data-bind="visible: isVisible, click: $parent.sort">
                    <!-- ko if: $parent.selectedSetNumber() > 0 -->
                    <span data-bind="text: title"></span>
                    <!-- /ko -->
                    <!-- ko if: $parent.selectedSetNumber() === 0 -->
                    <a href="#" data-bind="text: title"></a>
                    <!-- /ko -->
                </th>
                <!-- /ko -->
                <!-- /ko -->
            </tr>
            </thead>

            <tbody data-bind="foreach: setSongsTable">
            <tr data-bind="attr: {id: 'row_' +  setnumber + '_' + id }, event: { mouseup: function(data, event) { $parent.setNewSongOrder(setnumber, data, event) } }">
                <!-- ko if: $parent.setNumberList().length > 0 -->
                <td><a data-bind="click: $parent.setNumberList().length > 0 ? $parent.showMoveSongDialog : null, attr: { href: '#' }, css: 'glyphicon glyphicon-share-alt'"></a></td>
                <!-- /ko -->
                <!-- ko foreach: $parent.columns -->
                <td data-bind="style: { cursor: $parent.setnumber > 0 ? 'move' : 'default' }, text: $parent[dataMember], visible: isVisible"></td>
                <!-- /ko -->
                <!-- ko foreach: memberInstruments -->
                <td data-bind="text: instrument, visible: isVisible"></td>
                <!-- /ko -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
